{% extends "base.html" %}

{% block title %} About the Miami University Colony of &Theta;&Tau;{% endblock %}

{% block content %}

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">About the Miami University Colony of &Theta;&Tau;</h1>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6">
          <img class="img-responsive" src="{{ group_pic.pic }}">
        </div>
        <div class="col-md-6">
          <h2>What We Do</h2>
          <p>
          	Since our certification in January 2013, the Miami University Colony of &Theta;&Tau; has grown to 57 members. We have dedicated ourselves
          	to the service of the College of Engineering and Computing as well as the greater Oxford community. We have participated in service
          	events with national charities such as Habitat for Humanity, Feed My Starving Children, and Relay for Life, as well as local organizations
          	such as an animal shelter and the Cincinnati Reds. We have worked with the College of Engineering and Computing on events such as 
          	Engineers' Week, Make It Miami tours, and led tutoring sessions for engineering students in any classes. 
          </p>
        </div>

      </div>

      <!-- Team Member Profiles -->

      <div class="row">

        <div class="col-lg-12">
          <h2 class="page-header">Our Executive Board</h2>
        </div>

		{% for officer in officer_list %}
	        <div class="col-sm-4">
	        	<a href="{{ officer.brother.id }}"><img class="img-responsive" src="{{ officer.brother.picture }}"></a>
	            <h3><a href="{{ officer.brother.id }}" style="color: inherit;">{{ officer.brother.firstName }} {{ officer.brother.lastName }}</a> <small>{{ officer.position }}</small></h3>
	            <hr />
	
	        </div>
		{% endfor %}
 

      </div>

      <!-- Our Customers -->

      <div class="row">

        <div class="col-lg-12">
          <h2 class="page-header">Recent Events</h2>
        </div>
		
		{% for article in articles %}
        <div class="col-md-2 col-sm-4 col-xs-6">
        	<a href="/articles/{{ article.id }}">
        		<img class="img-responsive img-customer" src="{{ article.default_picture.image }}" title="{{ article.title }}">
        	</a>
        </div>
        {% endfor %}

      </div>

    </div><!-- /.container -->
    
{% endblock %}