{% extends "base.html" %}

{% block title %} &Theta;&Tau; {{ brotherType }} {% endblock %}

{% block content %}
    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Meet the Brothers <small>{{ brotherType }}</small></h1>
        </div>

      </div><!-- /.row -->
      
	{% if brother_list_list %}
	
	  {% for brother_list in brother_list_list %}
      <div class="row">
      
      	{% for brother in brother_list %}
        <div class="col-md-4 portfolio-item">
          <div style="max-width:700px; max-height:400px;">
            <a href="/info/brother/{{brother.id}}">
          	  <img class="img-responsive" src="{{brother.picture}}" style="max-width:100%; max-height:100%;">
            </a>
          </div>
          <h3><a href="portfolio-item.html">{{brother.firstName}} {{brother.lastName}}</a></h3>
          <p>Pledge Class: {{brother.pledgeClass.name}}</p>
          <p>{{brother.bio}}</p>
        </div>
		{% endfor %}
      </div>


	  {% endfor %}
	  
	  
	{% else %}
		<p>There do not appear to be any brothers...</p>
	{% endif %}
      <hr>

      <div class="row text-center">
        
        <div class="col-lg-12">
          <ul class="pagination">
          	{% if prev_page == 0 %}
          	
          	{% else %}
	           	{% if brothers_count %}
	           		<li><a href="?page={{ prev_page }}&count={{ brothers_count }}">&laquo;</a></li>
	           	{% else %}
	           		<li><a href="?page={{ prev_page }}">&laquo;</a></li>
	           	{% endif %}
           	{% endif %}
            {% for i in page_numbers %}
            	{% if page_number == i %}
            		<li class="active"><a href="#">{{ page_number }}</a></li>
            	{% else %}
	            	{% if brothers_count %}
	            		<li><a href="?page={{ i }}&count={{ brothers_count }}">{{ i }}</a></li>
	            	{% else %}
	            		<li><a href="?page={{ i }}">{{ i }}</a></li>
	            	{% endif %}
	            {% endif %}
            {% endfor %}
           	{% if brothers_count %}
           		<li><a href="?page={{ next_page }}&count={{ brothers_count }}">&raquo;</a></li>
           	{% else %}
           		<li><a href="?page={{ next_page }}">&raquo;</a></li>
           	{% endif %}
          </ul>        
        </div>

      </div>
    </div><!-- /.container -->

{% endblock %}