{% extends "base.html" %}

{% block title %} &Theta;&Tau; | {{ be.brother.firstName }} {{ be.brother.lastName }} {% endblock %}

{% block content %}
    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header"> {{ be.brother.firstName }} {{ be.brother.lastName }} <small>{{ be.brother.pledgeClass.name }} Class</small></h1>
        </div>

      </div>

      <div class="row">

        <div class="col-md-8" style="max-width:750px; max-height:500px;">
          <img class="img-responsive" src="{{ be.brother.picture }}" style="margin-left:auto; margin-right:auto; max-width: 100%; max-height: 100%;">
        </div>

        <div class="col-md-4">
          <h2>
	          {% if be.brother.isPledge %}
	          	Pledge
	          {% elif be.brother.isAlumni %}
	          	Alumni
	          {% else %}
	          	Active
	          {% endif %}
	          | Class of {{ be.brother.graduationYear }}
          </h2>
          <h3>Major(s)</h3>
          <ul>
          	{% if be.brother.majors %}
            {% for major in be.brother.majors.all %}
            	<li> {{ major.majorName }} </li>
            {% endfor %}
            {% else %}
            	<li> Undecided Engineering </li>
            {% endif %}
          </ul>
          {% if be.positions %}
          <h3>Leadership Positions in &Theta;&Tau;</h3>
          <ul>
          	{% for position in be.positions %}
          	<li>{{ position.position.name }} ({{ position.semester }} {{ position.year }}) </li>
          	{% endfor %}
          </ul>
          {% endif %}
          {% if be.jobs %}
          <h3>Internships, Co-ops, and Full Time Positions</h3>
          <ul>
          	{% for job in be.jobs %}
          	<li>{{ job.type.name }} - {{ job.title }} at {{ job.company }} ({{ job.year }})</li>
          	{% endfor %}
          </ul>
          {% endif %}
          <h4><a href="{{ be.brother.resume }}">Resume</a></h4>
        </div>

      </div>
    </div><!-- /.container -->

    <div class="container">

{% endblock %} 