
<!DOCTYPE html>
<html lang="en">
<head>
        <title>Miami University | Theta Tau</title>
        <meta http-equiv="content-type" content="text/xml" charset="utf-8" />
        
        <link rel="stylesheet" type="text/css" href="//www.users.miamioh.edu/rogerskw/thetatau/css/splash_style.css">
    <link rel="stylesheet" type="text/css" href="//www.users.miamioh.edu/rogerskw/thetatau/css/splash_reset.css">
    
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Arvo|Coustard' rel='stylesheet' type='text/css'>
    
<!-- 	NEW FONTS -->
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow|Advent+Pro|Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
                 
                 <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<!--    END NEW FONTS -->
                 
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<!-- Favicon -->
<link rel="shortcut icon" href="//www.users.miamioh.edu/rogerskw/thetatau/favicon.ico" type="image/x-icon">
<link rel="icon" href="//www.users.miamioh.edu/rogerskw/thetatau/favicon.ico" type="image/x-icon">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="//www.users.miamioh.edu/rogerskw/thetatau/js/splash_script.js"></script>
        
</head>

<body>

        <nav>
                <div id="navContainer">
                    <ul class="nav">
                            <li><a href="#topA">TOP</a></li>
                            <li><a href="#designA">ABOUT</a></li>
                            <li><a href="#specA">EVENTS</a></li>
                            <li><a href="#iosA">RUSH</a></li>
                            <li><a href="#buyA">SOCIAL</a></li>
                            <li><a href="/default">MAIN PAGE</a></li>
                    </ul>
                </div>
        </nav>
        
        <span id="topA"></span>
        <section id="home" data-speed="8" data-type="background">
	        	
	        <div id="homeContainer">
	        	
	        	<div id="homeTitle">
					Meet Miami University's
					<br>
					Colony of Theta Tau.
	        	</div>
	        	
	        	<div id="homeDes">
	        		2014's Spring Rush is happening soon. <br>Are <span style="font-style: italic;">you </span>ready?
	        	</div>
	        	
	        	<a href="#iosA"><div id="button"><p>LEARN MORE</p></div></a>
	        	
	        </div>
        	
        	<div id="designA" class="anchor"></div> 
        	
        </section>
        
      
        <section id="forTheColorful">

			<div id="triangle-topleft"></div>
			<div id="triangle-bottomright"></div>
			
			<div id="colorfulContainer">
		
				<div id="whatIsTheta">
					Theta Tau is the oldest, largest, and foremost Fraternity for Engineers.  Since its founding at the University of Minnesota in 1904, over 35,000 have been initiated over the years.  With emphasis on quality and a strong fraternal bond, the Fraternity has chapters only at ABET accredited schools and limits the number of student members in any one of its chapters across the nation.
				</div>
			
				<div id="howHelping">How We're Helping <br><a href="#specA">Learn More <i class="fa fa-angle-right"></i></a>
				</div>
			
				<div id="helpQuote">
					<i class="fa fa-quote-left fa-2x"></i><p id="helpQuoteP">For our Brotherhood...For our Profession...For our Communities.</p><i class="fa fa-quote-right fa-3x pull-right"></i>
				</div>
				
			</div>
			
			<div id="specA" class="anchor"></div>
			
			
        
        </section>
        
        <section id="specs" data-speed="8" data-type="background">
        
        	<div id="specsContainer">
	        	<div id="ourPartTitle">Helping to do our part. Each and <span class="colorChange">every</span> day.</div>
	        	
	        	<div id="ourPartDes">The Miami University colony of Theta Tau has become known for our service to our school, university, and the larger Ohio community. We develop and nurture engineers with strong communication, problem-solving, collaboration, and leadership skills that we demonstrate in our profession, our community, and in our lives. </div>
        	</div>
        	        
        	<div id="iosA" class="anchor"></div>        
        	        
        </section>
        

        <section id="beautifully">
        
        	<div id="beautTitle">
        		Spring Rush. Happening soon.
        	</div>
        	
        	<div id="colorContainer">
        		<div id="cc1"></div>
        		<div id="cc2"></div>
        		<div id="cc3"></div>
        		<div id="cc4"></div>
        		<div id="cc5"></div>
        	</div>
        	
        	<div id="beautDes">
        	With the mission to develop engineering Leaders for Service, Profession, and Brotherhood, this Spring, we want to bring in the best rush class yet. 
        	</div>
        	
        	<div id="buyA" class="anchor"></div>

        
        </section>
        
        <section id="buy" data-speed="10" data-type="background">

			<div id="connected">
				Stay social. Keep in touch.<br><br>Find us online.
			</div>
			
			<div id="buyLink">
				<li><a href="https://twitter.com/ThetaTauMU"><img src="//www.users.miamioh.edu/rogerskw/thetatau/images/twitter.png"></a></li>
			<li><a href="https://www.facebook.com/ThetaTauMU"><img src="//www.users.miamioh.edu/rogerskw/thetatau/images/facebook.png"></a></li>
			<li><a href="https://www.linkedin.com/groups?gid=41242&goback=%2Enpv_99325618_*1_*1_OUT*4OF*4NETWORK_TuIv_*1_en*4US_*1_*1_*1_993256181390144190640_2_17691_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_vsrp*4people*4res*4photo_*1&trk=prof-groups-membership-logo"><img src="//www.users.miamioh.edu/rogerskw/thetatau/images/linkedin.png"></a></li>
			</div>
		

        </section>
        
        
        
        <!-- javascript -->
        

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	
	<script>
	$('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
});
</script>

        
        
</body>
</html>