<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Miami University (Ohio) Colony of Theta Tau Engineering Fraternity">
<meta name="author" content="Theta Tau Miami">

<title> {% block title %} &Theta;&Tau; | Miami University {% endblock %} </title>

<!-- Bootstrap core CSS -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

<!-- custom CSS -->
<link href="/static/css/thetatau-miami.css" rel="stylesheet">

<!-- Favicon -->
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #800000;">
		<div class="container" >
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><b>&Theta;&Tau; - Miami
					University</b></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">About Us<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/info/">About the &Theta;&Tau; Miami Colony</a></li>
							<li><a href="/info/officers">Officers</a></li>
							<li><a href="/info/actives">Active Members</a></li>
							<li><a href="/info/pledges">Pledges</a></li>
							<li><a href="/info/alumni">Alumni</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Past Events<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/articles/service">Service</a></li>
							<li><a href="/articles/pd">Professional Development</a></li>
							<li><a href="/articles/social">Social</a></li>
							<li><a href="/articles/">All</a></li>
						</ul></li>
					<li><a href="/events">Upcoming Events</a></li>
					<li><a href="/tools">Tools</a></li>					
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	{% block content %}
	
	{% endblock %}
	
	{% block socialmedia %}
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<h3>
						Like us on <a href='https://www.facebook.com/ThetaTauMU'>Facebook</a>!
					</h3>
					<div class="fb-like" data-href="https://www.facebook.com/ThetaTauMU" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
				</div>
				<div class="col-lg-4 col-md-4">
					<h3>
						Follow us on <a href='https://twitter.com/ThetaTauMU'>Twitter</a>!
					</h3>
					<a href="https://twitter.com/ThetaTauMU" class="twitter-follow-button" data-show-count="false">Follow @ThetaTauMU</a>
				</div>
			</div>
		<!-- /.row -->	
		</div>
	</div>
	
	<!-- Facebook like button -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
	<!-- End Facebook like button -->
	
	<!-- Twitter Follow Button -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<!-- End Twitter Follow Button -->
	
	{% endblock %}

	{% block license %}
	<div class="container">
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Licensed under Apache License 2.0</p>
				</div>
			</div>
		</footer>

	</div>
	<!-- /.container -->
	{% endblock %}
	
	<!-- JavaScript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/static/js/modern-business.js"></script>
	<!-- End JavaScript -->

</body>
</html>
