{% extends "base.html" %}

	{% block content %}
	<div id="myCarousel" class="carousel slide">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="fill"
					style="background-image: url('//www.users.miamioh.edu/rogerskw/thetatau/thetatau.png'); background-size: contain; background-repeat: no-repeat; background-color: #666666;"></div>
				<div class="carousel-caption">
					<a href="http://www.thetatau.org" style="color:#ffffff">
						<h1>Theta Tau</h1>
						<h4>The Nation's Oldest and Largest Professional Engineering
							Fraternity</h4>
					</a>
				</div>
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('//www.users.miamioh.edu/rogerskw/thetatau/charter_and_alpha.jpg');"></div>
				<div class="carousel-caption">
					<h1>Charter and Alpha Pledge Classes</h1><h4></h4>
				</div>
			</div>
			<div class="item">
				<div class="fill"
					style="background-image: url('//www.users.miamioh.edu/rogerskw/thetatau/regionalconference_11_13.jpg');"></div>
				<div class="carousel-caption">
					<h1>Great Lakes Regional Conference 2013</h1>
					<h4>The Miami University Colony brought 24 members to the 2013 Great Lakes Regional Conference</h4>
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="icon-prev"></span>
		</a> <a class="right carousel-control" href="#myCarousel"
			data-slide="next"> <span class="icon-next"></span>
		</a>
	</div>

	<div class="section">

		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-4">
					<h3>
						<i class="fa fa-check-circle"></i> Service
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Quisque consequat velit quis est euismod, id imperdiet nibh
						mollis. Sed auctor mollis leo vel fermentum. Sed turpis diam,
						lobortis a velit et, ullamcorper iaculis magna. Sed malesuada
						felis vel sodales facilisis. Vivamus a orci augue. Duis nec
						sodales massa, vitae suscipit augue. Phasellus eu lacinia risus.
						Aenean tellus nisl, consectetur ut nibh nec, lacinia egestas
						mauris.</p>
				</div>
				<div class="col-lg-4 col-md-4">
					<h3>
						<i class="fa fa-pencil"></i> Professional Development
					</h3>
					<p>Cum sociis natoque penatibus et magnis dis parturient
						montes, nascetur ridiculus mus. Nulla facilisi. Ut dignissim urna
						eu felis consequat consequat nec et erat. Sed eu dapibus lorem,
						vitae porta erat. Praesent eleifend dolor id nisi pharetra
						ultrices. Maecenas ullamcorper semper bibendum. Quisque a quam
						augue. Pellentesque aliquam, lacus quis cursus venenatis, lorem
						nunc lacinia urna, eget adipiscing est ligula in ligula. Ut felis
						enim, varius nec ante eleifend, elementum auctor tortor.</p>
				</div>
				<div class="col-lg-4 col-md-4">
					<h3>
						<i class="fa fa-folder-open"></i> Social
					</h3>
					<p>Donec accumsan ipsum vitae molestie sagittis. Vestibulum
						volutpat accumsan pretium. Duis adipiscing libero mi, interdum
						ultrices metus aliquam eu. Ut gravida urna euismod, tincidunt nisl
						ac, gravida mauris. Morbi et feugiat lorem. Fusce sit amet neque
						nec lacus feugiat tristique et at purus. Nullam tristique magna at
						purus porttitor iaculis. Nam condimentum sem eu tellus
						sollicitudin, in tristique purus dignissim.</p>
				</div>
			</div>
			<!-- /.row -->

		</div>
		<!-- /.container -->

	</div>
	<!-- /.section -->

	{% endblock %}