{% extends "base.html" %}

{% block title %} &Theta;&Tau; | Articles {% endblock %}

{% block content %}

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">{{ eventType }} Events <small>Article List</small></h1>
        </div>

      </div>
      
      {% if article_list %}
      
      {% for article in article_list %}
      
      <div class="row">

        <div class="col-md-1">
          <p><i class="fa fa-camera fa-4x"></i></p>
          <p>{{ article.date }}</p>
        </div>
        <div class="col-md-5">
          <a href="{{ article.id }}"><img src="{{ article.default_picture.image }}" class="img-responsive"></a>
        </div>
        <div class="col-md-6">
          <h3><a href="{{ article.id }}">{{ article.title }}</a></h3>
          <p>by <a href="/info/brother/{{ article.author.id }}">{{ article.author.firstName }} {{ article.author.lastName }}</a></p>
          <a class="btn btn-primary" href="{{ article.id }}">Read More <i class="fa fa-angle-right"></i></a>
        </div>

      </div>
      
      <hr />
      
      {% endfor %}
      
      {% else %}
      	Unfortunately, there do not appear to be any articles in this category at the moment. Check back later!
      {% endif %}

      <hr>

      <div class="row text-center">
        <div class="col-lg-12">
          <ul class="pagination">
          	{% if prev_page == 0 %}
          	
          	{% else %}
	           	{% if brothers_count %}
	           		<li><a href="?page={{ prev_page }}&count={{ brothers_count }}">&laquo;</a></li>
	           	{% else %}
	           		<li><a href="?page={{ prev_page }}">&laquo;</a></li>
	           	{% endif %}
           	{% endif %}
            {% for i in page_numbers %}
            	{% if page_number == i %}
            		<li class="active"><a href="#">{{ page_number }}</a></li>
            	{% else %}
	            	{% if brothers_count %}
	            		<li><a href="?page={{ i }}&count={{ brothers_count }}">{{ i }}</a></li>
	            	{% else %}
	            		<li><a href="?page={{ i }}">{{ i }}</a></li>
	            	{% endif %}
	            {% endif %}
            {% endfor %}
            {% if next_page == 0 %}
            
            {% else %}
	           	{% if brothers_count %}
	           		<li><a href="?page={{ next_page }}&count={{ brothers_count }}">&raquo;</a></li>
	           	{% else %}
	           		<li><a href="?page={{ next_page }}">&raquo;</a></li>
	           	{% endif %}
           	{% endif %}
          </ul>        
        </div>

      </div>

    </div><!-- /.container -->

{% endblock %}